const isLearner = <%= (P.sess.role == 'Learner') ? true : false %>;
const course_id = <%= (P.course_id) ? P.course_id : null %>;

Vue.mixin({
  data() {
    return {
      isLearner: isLearner,
    }
  },
})

let util_mixin = {
  data() {
    return {
      isLearner: isLearner,
    }
  },
  methods: {

  }
}

var app = new Vue({
  el: '#app',
  data: {
    message: 'Hello Vue!'
  },
  template: `
    <div>
      {{ message }}
    </div>
  `,
});

Vue.component('course-listing-item', {
  props: {
    course: {
      type: Object
    }
  },
  template: `
    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card h-100">
        <div class="card-img-top card-course-cover" :style="'background-image:url(/course_covers/' + course.course_id + '.png)'"/>
        <div class="card-body">
          <h4 class="card-title">{{ course.title }}</h4>
          <p style="text-align: left" class="card-text">Number of TA: {{ course.numTaActive }}
          <br> Number of students: {{ course.numStudentActive }}</p>
        </div>
        <div class="card-footer">
          <a :href="'/courses/' + course.course_id" class="btn btn-primary btn-lg">Join</a>
        </div>
      </div>
    </div>
  `,
});

var course_listing = new Vue({
  el: '#course-listing',
  data: {
    rawCourses: <%- (P.courses) ? JSON.stringify(P.courses) : JSON.stringify(null) %>,
    courses: []
  },
  methods: {
    getCourses: function() {
      this.courses = [ ];
      for (const key in this.rawCourses) {
        this.rawCourses[key].numTaActive = 0;
        this.rawCourses[key].numStudentActive = 0;
        this.courses.push(this.rawCourses[key]);
      }
      return this.courses;
    }
  }
});

var explore_section = new Vue({
  el: '#explore-section',
  data: {
    explores: {
      'Student' :[
        {
          title: 'Events',
          href: '/eventchain',
          pin: 'https://www.leedsandyorkpft.nhs.uk/news/wp-content/uploads/sites/4/2017/03/events-icon-680x680.jpg'
        }
      ],
      'Teaching Assistants' :[
        {
          title: 'Networkflow',
          href: 'https://datduyng.github.io/networkflow/simulation.html',
          pin: 'https://user-images.githubusercontent.com/35666615/52318190-de194580-2988-11e9-929d-09aec2551b13.png'
        },
        {
          title: 'Networkflow',
          href: 'https://datduyng.github.io/networkflow/simulation.html',
          pin: 'https://user-images.githubusercontent.com/35666615/52318190-de194580-2988-11e9-929d-09aec2551b13.png'
        },
        {
          title: 'Networkflow',
          href: 'https://datduyng.github.io/networkflow/simulation.html',
          pin: 'https://user-images.githubusercontent.com/35666615/52318190-de194580-2988-11e9-929d-09aec2551b13.png'
        },
      ],
    }
  }
});

Vue.component('queue-item', {
  props: {
    student: Object,
  }, 
  template: `
    <li class="list-group-item d-flex align-items-center">
      <div class="avatar">
        <img src="https://assets.servedby-buysellads.com/p/manage/asset/id/32054" alt="">
      </div>
      <div class="w-100">
        <div class="user-name">{{ student.info.full_name }}</div>
        <div class="message bg-light">Description: {{ student.notes.this_is_the_note }}</div>
      </div>
      <span v-if="isLearner" class="date text-mutted ml-auto">Status: {{ student.status }}</span>
      <div v-else>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Help</button>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Remove</button>
      </div>
    </li>
  `
});


Vue.component('chat-item', {
  props: {
    chat: Object
  },
  template: `
    <div class="chat-message clearfix">
      <img
              :src="'http://localhost:3000/api/chat/dl_img?url=' + chat.image"
              alt=""
              width="32"
              height="32"
      />

      <div class="chat-message-content clearfix">
        <span class="chat-time">{{ moment(chat.created_at).fromNow() }}</span>

        <h5>{{ chat.last_name }}</h5>

        <p>
          {{ chat.msg }}
        </p>
      </div>
      <!-- end chat-message-content -->
    </div>
    <!-- end chat-message -->

  `
});

let vueChat = new Vue({
  el: '#chat-section',
  data: {
    chats: [],
  },
  methods: {
    addChat: function(chat){
      this.chats.push(chat);
    },
    setChats: function(chats){
      this.chats = chats;
    }
  }

});
let queue_status = new Vue({
  el: '#queue-status', 
  data: {
    rawTickets: <%- P.course ? JSON.stringify(P.course.tickets) : JSON.stringify(null) %>,
    tickets: [],
    users_info: <%- P.course ? JSON.stringify(P.course.users_info) : JSON.stringify(null) %>,
    status: null,
  },
  methods: {
    getTickets: function() {
      this.tickets = [ ];
      for ( const key in this.rawTickets ) {
       this.rawTickets[key].ticketid = key;
       this.rawTickets[key].info = this.users_info[this.rawTickets[key].user_id];
       this.tickets.push(this.rawTickets[key]); 
      }
      this.tickets = this.tickets.sort((i1, i2) => {
        return (i1.created_at - i2.created_at);
      })
      return this.tickets;
    },
    onClickGetHelp: function() {
      let queryParams = {
        course_id: course_id,
        note: ""
      };

      $.get(`/api/user/S-get-help`,queryParams, (res) => {
        res = JSON.parse(res);
        console.log('res', res);
      });
    },
    onClickDoneResolving: function() {

    }
  },
  created: function() {

  },
  mixins: [util_mixin],
});

let user_list = new Vue({
  el: '#user-list',
  data: {
    users: <%- (P.course) ? JSON.stringify(P.course.users_info) : JSON.stringify(null) %>,
    onlines: <%- (P.course) ? JSON.stringify(P.course.online) : JSON.stringify(null) %>,
  },
  methods: {
    filteredTeacher: function() {

    }
  }

});


function userLogout() {
  console.log('logout');
  $.post('/logout', {});
  window.location.href = "https://canvas.instructure.com/";
}